<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:action="@{save}"
      th:method="post"
      th:object="${user}">

<input th:text="name" th:field="*{name}" placeholder="name">
    <br>
<input th:text="lastname" th:field="*{lastName}" placeholder="lastname">
    <br>
<input th:text="age" th:field="${user.age}" placeholder="age">
    <br>
    <div class="radio-button">
        <input type="radio" value="MALE" th:field="*{gender}"
               id="MALE">
        <label   class="header" for="MALE"><h1>MALE</h1>

        </label>
        <input type="radio" value="FEMALE" th:field="*{gender}"
               id="FEMALE">
        <label   class="header" for="FEMALE"><h1>FEMALE</h1></label>
    </div>
    <button type="submit" style="background-color: aqua">save</button>

</form>

</body>
</html>